.app-custom {
  min-height: 100vh;
  color: var(--md-sys-color-on-background);
  .customHeader {
    max-width: 1760px;
    margin: 0 auto;
    display: flex;
    .titleBlock {
      width: 50%;
    }
    .colorPanel {
      width: 50%;
      margin-left: 12px;
    }
  }
  .themePalette {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 550px) {
  .app-custom {
    min-height: calc(100vh - 78px - 64px);
  }
}

@media screen and (max-width: 550px) {
  .app-custom {
    .themePalette {
      .tonalPalette {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
      }
    }
  }
}
