.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 88px;
  height: 100%;
  transition: background-color 0.3s ease;
  background-color: var(--md-sys-color-surface2);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .logo {
      width: 48px;
      height: 48px;
      margin: 16px auto;
      padding: 12px;
      .logoIcon {
        text-align: center;
        color: var(--md-sys-color-on-background);
        text-align: center;
      }
    }

    .appName {
      display: none;
    }

    .menu {
      padding: 0;
      font-size: 12px;

      .menuItem {
        display: block;
        margin: 0 10px 14px;
        text-decoration: none;
        color: var(--md-sys-color-on-secondary-container);
        background-color: transparent;
        border-radius: 50px;
        text-align: center;
        position: relative;

        .menuItemIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto 4px auto;
          width: 56px;
          height: 32px;

          &:before {
            position: absolute;
            width: 56px;
            height: 32px;
            opacity: 0;
            transform: scaleX(0);
            transition-duration: 200ms;
            transition-property: transform, opacity;
            transition-timing-function: linear;
            border-radius: 100px;
            background: var(--md-sys-color-secondary-container);
            content: '';
            z-index: -1;
          }
        }

        &:hover {
          .menuItemIcon {
            background: linear-gradient(0deg, rgba(68, 71, 70, 0.12), rgba(68, 71, 70, 0.12));
            border-radius: 100px;
          }
        }
      }

      .menuItemActive {
        .menuItemIcon {
          &:before {
            opacity: 1;
            transform: scaleX(1);
          }
        }

        .menuItemName {
          font-weight: 700;
        }
      }
    }
  }

  .mobileNavRight {
    display: none;
  }

  .modeButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--md-sys-color-outline);
    overflow: hidden;
    user-select: none;
    margin-bottom: 16px;
    cursor: pointer;

    .modeButtonIconGroup {
      color: var(--md-sys-color-on-secondary-container);
      transition: transform 0.3s ease;

      .modeButtonIcon {
        width: 48px;
        line-height: 48px;
        text-align: center;
        margin-top: -1px;
        margin-left: -1px;
        display: flex;
        justify-content: center;
      }
    }

    .darkMode {
      transform: translateY(-50%);
    }
  }
}

.followBtn {
  svg {
    color: var(--md-sys-color-tertiary);
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: sticky;
    width: 100%;
    height: 64px;
    flex-direction: unset;
    padding: 0 4px;
    background-color: var(--md-sys-color-surface);
    .nav {
      margin: 0;
      flex-direction: row;
      .appName {
        display: block;
        margin: 0;
        font-size: 20px;
        color: var(--md-sys-color-on-background);
      }
      .menu {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 12px 0 16px 0;
        display: flex;
        justify-content: center;
        transition: background-color 0.3s ease;
        background-color: var(--md-sys-color-surface2);
        .menuItem {
          width: 25%;
          margin: 0 8%;
          height: 50px;
          &:hover {
            .menuItemIcon {
              background: transparent;
            }
          }
        }
      }
    }
    .mobileNavRight {
      display: flex;
      .mobileModeButton {
        display: flex;
        margin-right: 4px;
      }
      .mobileAboutButton {
        margin-right: 4px;
      }
    }
    .modeButton {
      display: none;
    }
  }
  .showSurface {
    background-color: var(--md-sys-color-surface2);
  }
}
