.footer {
  text-align: left;
  font-size: 12px;
  max-width: 1200px;
  margin: 36px auto 0 auto;
  padding: 24px 4px 24px 4px;
  border-top: 1px solid var(--md-sys-color-outline-variant);

  a {
    display: block;
    line-height: 22px;
    color: rgba(var(--md-sys-color-on-background-rgb), 0.5);
    text-decoration: none;
    font-weight: normal;
    img {
      width: 14px;
      vertical-align: -2px;
    }
  }
}

//@media screen and (max-width: 550px) {
//  .footer {
//    a{
//      font-size: 10px;
//    }
//  }
//}
